# Comparaci√≥n outputs Kaiju - Kraken

## Leer salida de kaiju o kraken

In [4]:
import pandas as pd
import os
def read_files(directory):
    kraken, kaiju = [], []
    for file in os.listdir(directory):
        # print(file)
        if '.tsv' in file:
            f = pd.read_csv(directory + file, delimiter = '\t', header = None)
            if f.shape[1] == 3:
                f.columns = ["c-clasificado","read_ID","tax_ID_kaiju"]
                f.drop(['c-clasificado'], axis=1, inplace = True)
                kaiju.append(f)

            else:
                f.columns = ["c-clasificado", "read_ID","tax_ID_kraken","length_pb","LCA_taxonomic"]
                f.drop(["c-clasificado","length_pb","LCA_taxonomic"], axis=1, inplace = True)
                kraken.append(f)
            
    kraken, kaiju = pd.concat(kraken), pd.concat(kaiju)
        
    return [kraken, kaiju]

In [5]:
PATH = 'data/'
read_files(PATH)

[                                      read_ID  tax_ID_kraken
 0  NB501110:123:H7C3WBGX7:4:23612:19211:20386        1508507
 1  NB501110:123:H7C3WBGX7:4:23612:13340:20390         500639
 2  NB501110:123:H7C3WBGX7:4:23612:15529:20391              0
 3  NB501110:123:H7C3WBGX7:4:23612:17695:20392          55209
 4  NB501110:123:H7C3WBGX7:4:23612:10408:20392          69218
 5  NB501110:123:H7C3WBGX7:4:23612:11635:20393        1378084
 6  NB501110:123:H7C3WBGX7:4:23612:16321:20394        1378084
 7   NB501110:123:H7C3WBGX7:4:23612:9943:20397          91347
 8  NB501110:123:H7C3WBGX7:4:23612:10288:20398        1461261
 9   NB501110:123:H7C3WBGX7:4:23612:9387:20400        1860097
 0    NB501110:123:H7C3WBGX7:1:11101:9813:1065            547
 1    NB501110:123:H7C3WBGX7:1:11101:9032:1067            329
 2    NB501110:123:H7C3WBGX7:1:11101:9958:1067          69218
 3   NB501110:123:H7C3WBGX7:1:11101:22148:1069        1076549
 4   NB501110:123:H7C3WBGX7:1:11101:17061:1072         487316
 5    NB501110:123:H7C3WBGX7:1:11101:7661:1075          69218
 6    NB501110:123:H7C3WBGX7:1:11101:3445:1076        1076549
 7    NB501110:123:H7C3WBGX7:1:11101:9350:1077         487316
 8    NB501110:123:H7C3WBGX7:1:11101:5326:1077          48736
 9   NB501110:123:H7C3WBGX7:1:11101:21410:1079        1560356,
                                       read_ID  tax_ID_kaiju
 0   NB501110:123:H7C3WBGX7:4:23612:6870:20251         53335
 1   NB501110:123:H7C3WBGX7:4:23612:6261:20259         59814
 2  NB501110:123:H7C3WBGX7:4:23612:20547:20279         91347
 3  NB501110:123:H7C3WBGX7:4:23612:13993:20311        470934
 4   NB501110:123:H7C3WBGX7:4:23612:6705:20317           547
 5  NB501110:123:H7C3WBGX7:4:23612:20381:20331           329
 6  NB501110:123:H7C3WBGX7:4:23612:20498:20337           547
 7  NB501110:123:H7C3WBGX7:4:23612:10800:20351           329
 8  NB501110:123:H7C3WBGX7:4:23612:24681:20365       1076550
 9  NB501110:123:H7C3WBGX7:4:23612:20267:20379         53335
 0   NB501110:123:H7C3WBGX7:1:11101:22148:1069        470934
 1   NB501110:123:H7C3WBGX7:1:11101:12474:1085         69218
 2   NB501110:123:H7C3WBGX7:1:11101:19868:1087         53335
 3   NB501110:123:H7C3WBGX7:1:11101:10733:1094         69218
 4   NB501110:123:H7C3WBGX7:1:11101:20523:1097       1224136
 5    NB501110:123:H7C3WBGX7:1:11101:9448:1118        470934
 6   NB501110:123:H7C3WBGX7:1:11101:21936:1120        428406
 7   NB501110:123:H7C3WBGX7:1:11101:25518:1127           329
 8   NB501110:123:H7C3WBGX7:1:11101:22286:1152       1312959
 9    NB501110:123:H7C3WBGX7:1:11101:6718:1180         53335]

## Combinar salidas de archivos

In [6]:
import os
PATH = 'data/'

outputs = read_files(PATH)

# outputs = [read_file('data/10lineas_kraken.tsv'), read_file('data/10lineascola_kraken.tsv'), read_file('data/10lineascola_kaiju.tsv'), read_file('data/10lineas_kaiju.tsv')]
def unite(lOutputs):
    DFfusion = lOutputs[0]
    for i in lOutputs:
        DFfusion = pd.merge(DFfusion, i, how='outer')
   
    return DFfusion

DFfusion = unite(outputs)

In [7]:
DFfusion.head()

                                      read_ID  tax_ID_kraken  tax_ID_kaiju
0  NB501110:123:H7C3WBGX7:4:23612:19211:20386      1508507.0           NaN
1  NB501110:123:H7C3WBGX7:4:23612:13340:20390       500639.0           NaN
2  NB501110:123:H7C3WBGX7:4:23612:15529:20391            0.0           NaN
3  NB501110:123:H7C3WBGX7:4:23612:17695:20392        55209.0           NaN
4  NB501110:123:H7C3WBGX7:4:23612:10408:20392        69218.0           NaN

## Obtener linajes

In [59]:
from ete3 import NCBITaxa

def get_full_lineages(otus):

    ncbi = NCBITaxa()  

    lineages = {}  

    if 0 in otus:
        lineages.update({0: ""})
        otus.remove(0)
    if 1 in otus:
        lineages.update({1: "root"})
        otus.remove(1)
    if 2 in otus:
        lineages.update({2: "root;Bacteria"})
        otus.remove(2)

    for entrie in otus:
        lineage = ncbi.get_lineage(entrie)               
        names = ncbi.get_taxid_translator(lineage)
        names_ordered = []
        for l in lineage:
            names_ordered.append(names[l])
        
        all_names = ";".join(names_ordered)
        lineages.update({entrie: all_names})
    
    return lineages

In [60]:
get_full_lineages([1076549])

{1076549: 'root;cellular organisms;Bacteria;Proteobacteria;Gammaproteobacteria;Enterobacterales;Erwiniaceae;Pantoea;Pantoea rodasii'}

In [20]:
ncbi = NCBITaxa()
ncbi.get_taxid_translator([1, 131567, 2, 1224, 1236, 91347, 1903409, 53335, 1076549])

{1: 'root',
 2: 'Bacteria',
 1224: 'Proteobacteria',
 1236: 'Gammaproteobacteria',
 53335: 'Pantoea',
 91347: 'Enterobacterales',
 131567: 'cellular organisms',
 1076549: 'Pantoea rodasii',
 1903409: 'Erwiniaceae'}

In [21]:
ncbi = NCBITaxa()
ncbi.get_taxid_translator([1, 131567, 2, 1224, 1236, 91347, 1903409, 53335, 470934])

{1: 'root',
 2: 'Bacteria',
 1224: 'Proteobacteria',
 1236: 'Gammaproteobacteria',
 53335: 'Pantoea',
 91347: 'Enterobacterales',
 131567: 'cellular organisms',
 470934: 'Pantoea vagans',
 1903409: 'Erwiniaceae'}

In [32]:
ncbi.get_taxid_translator([131567])

{131567: 'cellular organisms'}

In [33]:
prueba = ncbi.get_rank([1, 131567, 2, 1224, 1236, 91347, 1903409, 53335, 1076549])

In [34]:
prueba

{1: 'no rank',
 2: 'superkingdom',
 1224: 'phylum',
 1236: 'class',
 53335: 'genus',
 91347: 'order',
 131567: 'no rank',
 1076549: 'species',
 1903409: 'family'}

In [38]:
l = []
for tax in ['no rank', 'domain', 'superkingdom', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']:
    for key in prueba:
        if prueba[key] == tax:
            l.append(key)

In [39]:
l

[1, 131567, 2, 1224, 1236, 91347, 1903409, 53335, 1076549]

In [14]:
get_full_lineages([1076549])

[1, 131567, 2, 1224, 1236, 91347, 1903409, 53335, 1076549]
dict_values(['root', 'Bacteria', 'Proteobacteria', 'Gammaproteobacteria', 'Pantoea', 'Enterobacterales', 'cellular organisms', 'Pantoea rodasii', 'Erwiniaceae'])

{1076549: 'root;Bacteria;Proteobacteria;Gammaproteobacteria;Pantoea;Enterobacterales;cellular organisms;Pantoea rodasii;Erwiniaceae'}

In [16]:
get_full_lineages([470934])

[1, 131567, 2, 1224, 1236, 91347, 1903409, 53335, 470934]
dict_values(['root', 'Bacteria', 'Proteobacteria', 'Gammaproteobacteria', 'Pantoea', 'Enterobacterales', 'cellular organisms', 'Pantoea vagans', 'Erwiniaceae'])

{470934: 'root;Bacteria;Proteobacteria;Gammaproteobacteria;Pantoea;Enterobacterales;cellular organisms;Pantoea vagans;Erwiniaceae'}

In [114]:
def add_lineages(DFfusion):
    kaiju_lineages = get_full_lineages(list(DFfusion['tax_ID_kaiju'].dropna()))
    kraken_lineages = get_full_lineages(list(DFfusion['tax_ID_kraken'].dropna()))
    DFfusion['kaiju_lineage'] = DFfusion['tax_ID_kaiju']
    DFfusion['kraken_lineage'] = DFfusion['tax_ID_kraken']
    DFfusion.replace({'kaiju_lineage':kaiju_lineages, 'kraken_lineage':kraken_lineages}, inplace = True)
    
    return DFfusion

In [116]:
lineages = add_lineages(DFfusion)

In [117]:
lineages.head()

,read_ID,tax_ID_kraken,tax_ID_kaiju,kaiju_lineage,kraken_lineage
0,NB501110:123:H7C3WBGX7:4:23612:19211:20386,1508507.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...
1,NB501110:123:H7C3WBGX7:4:23612:13340:20390,500639.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...
2,NB501110:123:H7C3WBGX7:4:23612:15529:20391,0.0,NaN,NaN,
3,NB501110:123:H7C3WBGX7:4:23612:17695:20392,55209.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...
4,NB501110:123:H7C3WBGX7:4:23612:10408:20392,69218.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...

## Agregar columna de coincidencia de linajes

In [123]:
lineages[(~lineages['tax_ID_kraken'].isna()) & (~lineages['tax_ID_kaiju'].isna())]

,read_ID,tax_ID_kraken,tax_ID_kaiju,kaiju_lineage,kraken_lineage
13,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549.0,470934.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,root;Bacteria;Proteobacteria;Gammaproteobacter...

In [141]:
def consensus(lineages_df):
    l = []
    for item in zip(lineages_df['kraken_lineage'].fillna(''), lineages_df['kaiju_lineage'].fillna('')):
        if item[0] != '' and item[1] != '':
            lineage_a = item[0].split(';')
            lineage_b = item[1].split(';')
            lineage_intersection = []
            if len(lineage_a) < len(lineage_b):
                for i in range(len(lineage_a)):
                    if lineage_a[i] == lineage_b[i]:
                        lineage_intersection.append(lineage_a[i])
                    else:
                        break
            else:
                for i in range(len(lineage_b)):
                    if lineage_a[i] == lineage_b[i]:
                        lineage_intersection.append(lineage_b[i])
                    else:
                        break

            l.append(';'.join(lineage_intersection))
        else:
            l.append(np.nan)
        
    lineages_df['consensus'] = l
    return lineages_df

In [142]:
consensus(lineages)

,read_ID,tax_ID_kraken,tax_ID_kaiju,kaiju_lineage,kraken_lineage,consensus
0,NB501110:123:H7C3WBGX7:4:23612:19211:20386,1508507.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN
1,NB501110:123:H7C3WBGX7:4:23612:13340:20390,500639.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN
2,NB501110:123:H7C3WBGX7:4:23612:15529:20391,0.0,NaN,NaN,,NaN
3,NB501110:123:H7C3WBGX7:4:23612:17695:20392,55209.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN
4,NB501110:123:H7C3WBGX7:4:23612:10408:20392,69218.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN
5,NB501110:123:H7C3WBGX7:4:23612:11635:20393,1378084.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN
6,NB501110:123:H7C3WBGX7:4:23612:16321:20394,1378084.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN
7,NB501110:123:H7C3WBGX7:4:23612:9943:20397,91347.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN
8,NB501110:123:H7C3WBGX7:4:23612:10288:20398,1461261.0,NaN,NaN,root;Bacteria;Actinomycetia;Leucobacter;Microc...,NaN
9,NB501110:123:H7C3WBGX7:4:23612:9387:20400,1860097.0,NaN,NaN,root;Bacteria;Moraxellaceae;Acinetobacter;Prot...,NaN
10,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN
11,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329.0,NaN,NaN,root;Bacteria;Ralstonia pickettii;Proteobacter...,NaN
12,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN
13,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549.0,470934.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,root;Bacteria;Proteobacteria;Gammaproteobacter...,root;Bacteria;Proteobacteria;Gammaproteobacter...
14,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316.0,NaN,NaN,root;Bacteria;Moraxellaceae;Acinetobacter;Prot...,NaN
15,NB501110:123:H7C3WBGX7:1:11101:7661:1075,69218.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN
16,NB501110:123:H7C3WBGX7:1:11101:3445:1076,1076549.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN
17,NB501110:123:H7C3WBGX7:1:11101:9350:1077,487316.0,NaN,NaN,root;Bacteria;Moraxellaceae;Acinetobacter;Prot...,NaN
18,NB501110:123:H7C3WBGX7:1:11101:5326:1077,48736.0,NaN,NaN,root;Bacteria;Proteobacteria;Betaproteobacteri...,NaN
19,NB501110:123:H7C3WBGX7:1:11101:21410:1079,1560356.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Proteobacteri...,NaN
20,NB501110:123:H7C3WBGX7:4:23612:6870:20251,NaN,53335.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
21,NB501110:123:H7C3WBGX7:4:23612:6261:20259,NaN,59814.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
22,NB501110:123:H7C3WBGX7:4:23612:20547:20279,NaN,91347.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
23,NB501110:123:H7C3WBGX7:4:23612:13993:20311,NaN,470934.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
24,NB501110:123:H7C3WBGX7:4:23612:6705:20317,NaN,547.0,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN,NaN
25,NB501110:123:H7C3WBGX7:4:23612:20381:20331,NaN,329.0,root;Bacteria;Ralstonia pickettii;Proteobacter...,NaN,NaN
26,NB501110:123:H7C3WBGX7:4:23612:20498:20337,NaN,547.0,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN,NaN
27,NB501110:123:H7C3WBGX7:4:23612:10800:20351,NaN,329.0,root;Bacteria;Ralstonia pickettii;Proteobacter...,NaN,NaN
28,NB501110:123:H7C3WBGX7:4:23612:24681:20365,NaN,1076550.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
29,NB501110:123:H7C3WBGX7:4:23612:20267:20379,NaN,53335.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
30,NB501110:123:H7C3WBGX7:1:11101:12474:1085,NaN,69218.0,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN,NaN
31,NB501110:123:H7C3WBGX7:1:11101:19868:1087,NaN,53335.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
32,NB501110:123:H7C3WBGX7:1:11101:10733:1094,NaN,69218.0,root;Bacteria;Enterobacteriaceae;Enterobacter;...,NaN,NaN
33,NB501110:123:H7C3WBGX7:1:11101:20523:1097,NaN,1224136.0,root;Bacteria;Enterobacteriaceae;Proteobacteri...,NaN,NaN
34,NB501110:123:H7C3WBGX7:1:11101:9448:1118,NaN,470934.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN
35,NB501110:123:H7C3WBGX7:1:11101:21936:1120,NaN,428406.0,root;Bacteria;Ralstonia pickettii;Proteobacter...,NaN,NaN
36,NB501110:123:H7C3WBGX7:1:11101:25518:1127,NaN,329.0,root;Bacteria;Ralstonia pickettii;Proteobacter...,NaN,NaN
37,NB501110:123:H7C3WBGX7:1:11101:22286:1152,NaN,1312959.0,root;Bacteria;Micrococcaceae;Arthrobacter;Acti...,NaN,NaN
38,NB501110:123:H7C3WBGX7:1:11101:6718:1180,NaN,53335.0,root;Bacteria;Proteobacteria;Gammaproteobacter...,NaN,NaN