# Comparaci√≥n outputs Kaiju - Kraken

## Leer salida de kaiju o kraken

In [21]:
import pandas as pd

def read_file(f):
    f = pd.read_csv(f, delimiter = '\t', header = None)
    if f.shape[1] == 3:
        f.columns = ["c-clasificado", "read","taxon_kaiju"]
        f.drop(['c-clasificado'], axis=1, inplace = True)
    else:
        f.columns = ["c-clasificado", "read","taxon_kraken2","1","2"]
        f.drop(['c-clasificado','1','2'], axis=1, inplace = True)
        
    return f

In [23]:
read_file('data/10lineas_kaiju.tsv')

                                        read  taxon_kaiju
0  NB501110:123:H7C3WBGX7:1:11101:22148:1069       470934
1  NB501110:123:H7C3WBGX7:1:11101:12474:1085        69218
2  NB501110:123:H7C3WBGX7:1:11101:19868:1087        53335
3  NB501110:123:H7C3WBGX7:1:11101:10733:1094        69218
4  NB501110:123:H7C3WBGX7:1:11101:20523:1097      1224136
5   NB501110:123:H7C3WBGX7:1:11101:9448:1118       470934
6  NB501110:123:H7C3WBGX7:1:11101:21936:1120       428406
7  NB501110:123:H7C3WBGX7:1:11101:25518:1127          329
8  NB501110:123:H7C3WBGX7:1:11101:22286:1152      1312959
9   NB501110:123:H7C3WBGX7:1:11101:6718:1180        53335