# Comparaci√≥n outputs Kaiju - Kraken

## Leer salida de kaiju o kraken

In [109]:
import pandas as pd

def read_files(directory):
    kraken, kaiju = [], []
    for file in os.listdir(directory):
        # print(file)
        if '.tsv' in file:
            f = pd.read_csv(directory + file, delimiter = '\t', header = None)
            if f.shape[1] == 3:
                f.columns = ["c-clasificado","read_ID","tax_ID_kaiju"]
                f.drop(['c-clasificado'], axis=1, inplace = True)
                kaiju.append(f)

            else:
                f.columns = ["c-clasificado", "read_ID","tax_ID_kraken","length_pb","LCA_taxonomic"]
                f.drop(["c-clasificado","length_pb","LCA_taxonomic"], axis=1, inplace = True)
                kraken.append(f)
            
    kraken, kaiju = pd.concat(kraken), pd.concat(kaiju)
        
    return [kraken, kaiju]

In [110]:
PATH = 'data/'
read_files(PATH)

[                                      read_ID  tax_ID_kraken
 0  NB501110:123:H7C3WBGX7:4:23612:19211:20386        1508507
 1  NB501110:123:H7C3WBGX7:4:23612:13340:20390         500639
 2  NB501110:123:H7C3WBGX7:4:23612:15529:20391              0
 3  NB501110:123:H7C3WBGX7:4:23612:17695:20392          55209
 4  NB501110:123:H7C3WBGX7:4:23612:10408:20392          69218
 5  NB501110:123:H7C3WBGX7:4:23612:11635:20393        1378084
 6  NB501110:123:H7C3WBGX7:4:23612:16321:20394        1378084
 7   NB501110:123:H7C3WBGX7:4:23612:9943:20397          91347
 8  NB501110:123:H7C3WBGX7:4:23612:10288:20398        1461261
 9   NB501110:123:H7C3WBGX7:4:23612:9387:20400        1860097
 0    NB501110:123:H7C3WBGX7:1:11101:9813:1065            547
 1    NB501110:123:H7C3WBGX7:1:11101:9032:1067            329
 2    NB501110:123:H7C3WBGX7:1:11101:9958:1067          69218
 3   NB501110:123:H7C3WBGX7:1:11101:22148:1069        1076549
 4   NB501110:123:H7C3WBGX7:1:11101:17061:1072         487316
 5    NB501110:123:H7C3WBGX7:1:11101:7661:1075          69218
 6    NB501110:123:H7C3WBGX7:1:11101:3445:1076        1076549
 7    NB501110:123:H7C3WBGX7:1:11101:9350:1077         487316
 8    NB501110:123:H7C3WBGX7:1:11101:5326:1077          48736
 9   NB501110:123:H7C3WBGX7:1:11101:21410:1079        1560356,
                                       read_ID  tax_ID_kaiju
 0   NB501110:123:H7C3WBGX7:4:23612:6870:20251         53335
 1   NB501110:123:H7C3WBGX7:4:23612:6261:20259         59814
 2  NB501110:123:H7C3WBGX7:4:23612:20547:20279         91347
 3  NB501110:123:H7C3WBGX7:4:23612:13993:20311        470934
 4   NB501110:123:H7C3WBGX7:4:23612:6705:20317           547
 5  NB501110:123:H7C3WBGX7:4:23612:20381:20331           329
 6  NB501110:123:H7C3WBGX7:4:23612:20498:20337           547
 7  NB501110:123:H7C3WBGX7:4:23612:10800:20351           329
 8  NB501110:123:H7C3WBGX7:4:23612:24681:20365       1076550
 9  NB501110:123:H7C3WBGX7:4:23612:20267:20379         53335
 0   NB501110:123:H7C3WBGX7:1:11101:22148:1069        470934
 1   NB501110:123:H7C3WBGX7:1:11101:12474:1085         69218
 2   NB501110:123:H7C3WBGX7:1:11101:19868:1087         53335
 3   NB501110:123:H7C3WBGX7:1:11101:10733:1094         69218
 4   NB501110:123:H7C3WBGX7:1:11101:20523:1097       1224136
 5    NB501110:123:H7C3WBGX7:1:11101:9448:1118        470934
 6   NB501110:123:H7C3WBGX7:1:11101:21936:1120        428406
 7   NB501110:123:H7C3WBGX7:1:11101:25518:1127           329
 8   NB501110:123:H7C3WBGX7:1:11101:22286:1152       1312959
 9    NB501110:123:H7C3WBGX7:1:11101:6718:1180         53335]

## Combinar salidas de archivos

In [111]:
import os
PATH = 'data/'

outputs = read_files(PATH)

# outputs = [read_file('data/10lineas_kraken.tsv'), read_file('data/10lineascola_kraken.tsv'), read_file('data/10lineascola_kaiju.tsv'), read_file('data/10lineas_kaiju.tsv')]
def unite(lOutputs):
    DFfusion = lOutputs[0]
    for i in lOutputs:
        DFfusion = pd.merge(DFfusion, i, how='outer')
   
    return DFfusion

DFfusion = unite(outputs)

In [112]:
DFfusion.head()

                                      read_ID  tax_ID_kraken  tax_ID_kaiju
0  NB501110:123:H7C3WBGX7:4:23612:19211:20386      1508507.0           NaN
1  NB501110:123:H7C3WBGX7:4:23612:13340:20390       500639.0           NaN
2  NB501110:123:H7C3WBGX7:4:23612:15529:20391            0.0           NaN
3  NB501110:123:H7C3WBGX7:4:23612:17695:20392        55209.0           NaN
4  NB501110:123:H7C3WBGX7:4:23612:10408:20392        69218.0           NaN

## Obtener linajes

In [113]:
from ete3 import NCBITaxa

def get_full_lineages(otus):

    ncbi = NCBITaxa()  

    lineages = {}  

    if 0 in otus:
        lineages.update({0: ""})
        otus.remove(0)
    if 1 in otus:
        lineages.update({1: "root"})
        otus.remove(1)
    if 2 in otus:
        lineages.update({2: "root;Bacteria"})
        otus.remove(2)

    for entrie in otus:
        lineage = ncbi.get_lineage(entrie)                  #returns list of lineage taxids
        names = ncbi.get_taxid_translator(lineage).values() #returns dict in which the taxids of the lineage list become the keys (int) and the translations the values. Error if there is a 0 
        all_names = ";".join(names)
        lineages.update({entrie: all_names})
    
    return lineages

In [114]:
def add_lineages(DFfusion):
    kaiju_lineages = get_full_lineages(list(DFfusion['tax_ID_kaiju'].dropna()))
    kraken_lineages = get_full_lineages(list(DFfusion['tax_ID_kraken'].dropna()))
    DFfusion['kaiju_lineage'] = DFfusion['tax_ID_kaiju']
    DFfusion['kraken_lineage'] = DFfusion['tax_ID_kraken']
    DFfusion.replace({'kaiju_lineage':kaiju_lineages, 'kraken_lineage':kraken_lineages}, inplace = True)
    
    return DFfusion

In [116]:
lineages = add_lineages(DFfusion)

In [117]:
lineages.head()

,read_ID,tax_ID_kraken,tax_ID_kaiju,kaiju_lineage,kraken_lineage
0,NB501110:123:H7C3WBGX7:4:23612:19211:20386,1508507.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...
1,NB501110:123:H7C3WBGX7:4:23612:13340:20390,500639.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...
2,NB501110:123:H7C3WBGX7:4:23612:15529:20391,0.0,NaN,NaN,
3,NB501110:123:H7C3WBGX7:4:23612:17695:20392,55209.0,NaN,NaN,root;Bacteria;Proteobacteria;Gammaproteobacter...
4,NB501110:123:H7C3WBGX7:4:23612:10408:20392,69218.0,NaN,NaN,root;Bacteria;Enterobacteriaceae;Enterobacter;...