# Proyecto comparación de Outputs de clasificación taxonómica

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# lectura de los datos por medio de pandas
# Se tomaron las 10 primeras lineas de el output de kraken
# datakraken10 = pd.read_csv('data/10lineas_kraken',sep='\t',header=None, names=["c-clasificado", "read","taxon_kraken","1","2"])
datakraken10 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRHYe0R7d5WYmKNbyo13egj8ORiKqWwI1GEVaG5Nzp7xN3RjkIV6vnHUweKYpidborNBf4-IEWbk0ZD/pub?output=csv',header=None, names=["c-clasificado", "read","taxon_kraken","1","2"])
# Se tomaron las 10 primeras lineas de el output de kaiju
# datakaiju10 = pd.read_csv('data/10lineas_kaiju',sep='\t',header=None, names=["c-clasificado", "read","taxon_kaiju"])
datakaiju10 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRuQ78ZkMRkMz61t0mbMBf4GGsd1ydGxXCl7p2Y8UzgXflkK6w4RCr6lPWXc9oxUXq94qeUJKouCMHp/pub?output=csv',header=None, names=["c-clasificado", "read","taxon_kaiju"])
# Se tomaron las 10 ultimas lineas de el output de kraken
# datakraken10c = pd.read_csv('data/10lineascola_kraken',sep='\t',header=None, names=["c-clasificado", "read","taxon_kraken2","1","2"])
datakraken10c = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQJ7psycVzaws-XI_z1itUnxCI3eXBGqK4q57B4gE1YYCVCn_GkvNUZClHPMtrHANy3JUIDpqaW_r0u/pub?output=csv',header=None, names=["c-clasificado", "read","taxon_kraken2","1","2"])
# Se tomaron las 10 ultimas lineas de el output de kaiju
#datakaiju10c = pd.read_csv('data/10lineascola_kaiju',sep='\t',header=None, names=["c-clasificado", "read","taxon_kaiju2"])
datakaiju10c = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ-etvzQ8vKI0Xwggc_RvqWboa39GcRdMBw_dSa4-_mx5k9PvaMtfuaqUGvpBM3zUKLDbVkiJ3udybC/pub?output=csv',header=None, names=["c-clasificado", "read","taxon_kaiju2"])

identificar tipo de datos**(Kraken o Kaiju) para automatizar el In3

In [3]:
datakraken10

,c-clasificado,read,taxon_kraken,1,2
0,C,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547,151|151,A:6 2:5 1224:1 2:3 1236:10 91347:6 543:1 1236:...
1,C,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329,150|150,A:6 119060:5 48736:5 329:13 0:4 329:7 0:6 1190...
2,C,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218,149|151,A:5 91347:17 69218:5 543:1 69218:21 543:4 6921...
3,C,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549,150|150,A:6 1560356:1 91347:73 0:9 1560356:5 0:18 1560...
4,C,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316,150|151,A:6 469:57 487316:11 0:8 487316:2 0:8 469:3 0:...
5,C,NB501110:123:H7C3WBGX7:1:11101:7661:1075,69218,150|150,A:6 91347:3 547:5 91347:3 69218:14 547:1 69218...
6,C,NB501110:123:H7C3WBGX7:1:11101:3445:1076,1076549,151|151,A:6 91347:68 0:16 91347:2 0:12 91347:13 |:| 0:...
7,C,NB501110:123:H7C3WBGX7:1:11101:9350:1077,487316,151|150,A:6 0:3 469:64 487316:2 469:7 487316:22 469:13...
8,C,NB501110:123:H7C3WBGX7:1:11101:5326:1077,48736,151|151,A:6 2:111 |:| 48736:70 0:22 2:25
9,C,NB501110:123:H7C3WBGX7:1:11101:21410:1079,1560356,151|150,53335:11 91347:5 543:1 0:1 543:4 91347:3 2:6 5...

In [4]:
# Eliminamos las columnas no necesarias
datakraken101 = datakraken10.drop(['c-clasificado','1', '2'], axis=1)
datakaiju101 = datakaiju10.drop(['c-clasificado'], axis=1)
datakraken102 = datakraken10c.drop(['c-clasificado','1','2'], axis=1)
datakaiju102 = datakaiju10c.drop(['c-clasificado'], axis=1)

Funcion para los parametros de entrada

In [5]:
lOutputs = [datakraken101, datakaiju101, datakraken102, datakaiju102] # lista de dataframes
# Funcion para unir los outputs en un solo dataframe, tomando como referencia la columna 'read'
def unite(lOutputs):
    DFfusion = lOutputs[0]
    for i in lOutputs:
        DFfusion = pd.merge(DFfusion, i, how='outer')
   
    return DFfusion

DFfusion = unite(lOutputs)    
DFfusion

,read,taxon_kraken,taxon_kaiju,taxon_kraken2,taxon_kaiju2
0,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547.0,NaN,NaN,NaN
1,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329.0,NaN,NaN,NaN
2,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218.0,NaN,NaN,NaN
3,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549.0,470934.0,NaN,NaN
4,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316.0,NaN,NaN,NaN
5,NB501110:123:H7C3WBGX7:1:11101:7661:1075,69218.0,NaN,NaN,NaN
6,NB501110:123:H7C3WBGX7:1:11101:3445:1076,1076549.0,NaN,NaN,NaN
7,NB501110:123:H7C3WBGX7:1:11101:9350:1077,487316.0,NaN,NaN,NaN
8,NB501110:123:H7C3WBGX7:1:11101:5326:1077,48736.0,NaN,NaN,NaN
9,NB501110:123:H7C3WBGX7:1:11101:21410:1079,1560356.0,NaN,NaN,NaN
10,NB501110:123:H7C3WBGX7:1:11101:12474:1085,NaN,69218.0,NaN,NaN
11,NB501110:123:H7C3WBGX7:1:11101:19868:1087,NaN,53335.0,NaN,NaN
12,NB501110:123:H7C3WBGX7:1:11101:10733:1094,NaN,69218.0,NaN,NaN
13,NB501110:123:H7C3WBGX7:1:11101:20523:1097,NaN,1224136.0,NaN,NaN
14,NB501110:123:H7C3WBGX7:1:11101:9448:1118,NaN,470934.0,NaN,NaN
15,NB501110:123:H7C3WBGX7:1:11101:21936:1120,NaN,428406.0,NaN,NaN
16,NB501110:123:H7C3WBGX7:1:11101:25518:1127,NaN,329.0,NaN,NaN
17,NB501110:123:H7C3WBGX7:1:11101:22286:1152,NaN,1312959.0,NaN,NaN
18,NB501110:123:H7C3WBGX7:1:11101:6718:1180,NaN,53335.0,NaN,NaN
19,NB501110:123:H7C3WBGX7:4:23612:19211:20386,NaN,NaN,1508507.0,NaN
20,NB501110:123:H7C3WBGX7:4:23612:13340:20390,NaN,NaN,500639.0,NaN
21,NB501110:123:H7C3WBGX7:4:23612:15529:20391,NaN,NaN,0.0,NaN
22,NB501110:123:H7C3WBGX7:4:23612:17695:20392,NaN,NaN,55209.0,NaN
23,NB501110:123:H7C3WBGX7:4:23612:10408:20392,NaN,NaN,69218.0,NaN
24,NB501110:123:H7C3WBGX7:4:23612:11635:20393,NaN,NaN,1378084.0,NaN
25,NB501110:123:H7C3WBGX7:4:23612:16321:20394,NaN,NaN,1378084.0,NaN
26,NB501110:123:H7C3WBGX7:4:23612:9943:20397,NaN,NaN,91347.0,NaN
27,NB501110:123:H7C3WBGX7:4:23612:10288:20398,NaN,NaN,1461261.0,NaN
28,NB501110:123:H7C3WBGX7:4:23612:9387:20400,NaN,NaN,1860097.0,NaN
29,NB501110:123:H7C3WBGX7:4:23612:6870:20251,NaN,NaN,NaN,53335.0
30,NB501110:123:H7C3WBGX7:4:23612:6261:20259,NaN,NaN,NaN,59814.0
31,NB501110:123:H7C3WBGX7:4:23612:20547:20279,NaN,NaN,NaN,91347.0
32,NB501110:123:H7C3WBGX7:4:23612:13993:20311,NaN,NaN,NaN,470934.0
33,NB501110:123:H7C3WBGX7:4:23612:6705:20317,NaN,NaN,NaN,547.0
34,NB501110:123:H7C3WBGX7:4:23612:20381:20331,NaN,NaN,NaN,329.0
35,NB501110:123:H7C3WBGX7:4:23612:20498:20337,NaN,NaN,NaN,547.0
36,NB501110:123:H7C3WBGX7:4:23612:10800:20351,NaN,NaN,NaN,329.0
37,NB501110:123:H7C3WBGX7:4:23612:24681:20365,NaN,NaN,NaN,1076550.0
38,NB501110:123:H7C3WBGX7:4:23612:20267:20379,NaN,NaN,NaN,53335.0

## Tomando la totalidad de los datos

In [8]:
datakraken = pd.read_csv('data/10lineas_kraken.tsv',sep='\t',header=None, names=["c-clasificado", "read_ID","tax_ID_kraken","length_pb","LCA_taxonomic"]) 
datakaiju = pd.read_csv('data/10lineas_kaiju.tsv',sep='\t',header=None, names=["c-clasificado","read_ID","tax_ID_kaiju"])
datakraken2 = pd.read_csv('data/10lineascola_kraken.tsv',sep='\t',header=None, names=["c-clasificado", "read_ID","tax_ID_kraken","length_pb","LCA_taxonomic"]) 
datakaiju2 = pd.read_csv('data/10lineascola_kaiju.tsv',sep='\t',header=None, names=["c-clasificado","read_ID","tax_ID_kaiju"])

In [11]:
datakrakenall = datakraken.drop(["c-clasificado","length_pb","LCA_taxonomic"], axis=1)
datakaijuall = datakaiju.drop(["c-clasificado"], axis=1)
datakrakenall2 = datakraken2.drop(["c-clasificado","length_pb","LCA_taxonomic"], axis=1)
datakaijuall2 = datakaiju2.drop(["c-clasificado"], axis=1)

In [12]:
allOutputs = [datakrakenall, datakaijuall, datakrakenall2, datakaijuall2] #lista de dataframe
DFfusion = unite(allOutputs)    
DFfusion

                                       read_ID  tax_ID_kraken  tax_ID_kaiju
0     NB501110:123:H7C3WBGX7:1:11101:9813:1065          547.0           NaN
1     NB501110:123:H7C3WBGX7:1:11101:9032:1067          329.0           NaN
2     NB501110:123:H7C3WBGX7:1:11101:9958:1067        69218.0           NaN
3    NB501110:123:H7C3WBGX7:1:11101:22148:1069      1076549.0      470934.0
4    NB501110:123:H7C3WBGX7:1:11101:17061:1072       487316.0           NaN
5     NB501110:123:H7C3WBGX7:1:11101:7661:1075        69218.0           NaN
6     NB501110:123:H7C3WBGX7:1:11101:3445:1076      1076549.0           NaN
7     NB501110:123:H7C3WBGX7:1:11101:9350:1077       487316.0           NaN
8     NB501110:123:H7C3WBGX7:1:11101:5326:1077        48736.0           NaN
9    NB501110:123:H7C3WBGX7:1:11101:21410:1079      1560356.0           NaN
10   NB501110:123:H7C3WBGX7:1:11101:12474:1085            NaN       69218.0
11   NB501110:123:H7C3WBGX7:1:11101:19868:1087            NaN       53335.0
12   NB501110:123:H7C3WBGX7:1:11101:10733:1094            NaN       69218.0
13   NB501110:123:H7C3WBGX7:1:11101:20523:1097            NaN     1224136.0
14    NB501110:123:H7C3WBGX7:1:11101:9448:1118            NaN      470934.0
15   NB501110:123:H7C3WBGX7:1:11101:21936:1120            NaN      428406.0
16   NB501110:123:H7C3WBGX7:1:11101:25518:1127            NaN         329.0
17   NB501110:123:H7C3WBGX7:1:11101:22286:1152            NaN     1312959.0
18    NB501110:123:H7C3WBGX7:1:11101:6718:1180            NaN       53335.0
19  NB501110:123:H7C3WBGX7:4:23612:19211:20386      1508507.0           NaN
20  NB501110:123:H7C3WBGX7:4:23612:13340:20390       500639.0           NaN
21  NB501110:123:H7C3WBGX7:4:23612:15529:20391            0.0           NaN
22  NB501110:123:H7C3WBGX7:4:23612:17695:20392        55209.0           NaN
23  NB501110:123:H7C3WBGX7:4:23612:10408:20392        69218.0           NaN
24  NB501110:123:H7C3WBGX7:4:23612:11635:20393      1378084.0           NaN
25  NB501110:123:H7C3WBGX7:4:23612:16321:20394      1378084.0           NaN
26   NB501110:123:H7C3WBGX7:4:23612:9943:20397        91347.0           NaN
27  NB501110:123:H7C3WBGX7:4:23612:10288:20398      1461261.0           NaN
28   NB501110:123:H7C3WBGX7:4:23612:9387:20400      1860097.0           NaN
29   NB501110:123:H7C3WBGX7:4:23612:6870:20251            NaN       53335.0
30   NB501110:123:H7C3WBGX7:4:23612:6261:20259            NaN       59814.0
31  NB501110:123:H7C3WBGX7:4:23612:20547:20279            NaN       91347.0
32  NB501110:123:H7C3WBGX7:4:23612:13993:20311            NaN      470934.0
33   NB501110:123:H7C3WBGX7:4:23612:6705:20317            NaN         547.0
34  NB501110:123:H7C3WBGX7:4:23612:20381:20331            NaN         329.0
35  NB501110:123:H7C3WBGX7:4:23612:20498:20337            NaN         547.0
36  NB501110:123:H7C3WBGX7:4:23612:10800:20351            NaN         329.0
37  NB501110:123:H7C3WBGX7:4:23612:24681:20365            NaN     1076550.0
38  NB501110:123:H7C3WBGX7:4:23612:20267:20379            NaN       53335.0

In [13]:
DFfusion['measure'] = np.where((DFfusion['tax_ID_kraken'] == DFfusion['tax_ID_kaiju']) , 1, np.nan)
DFfusion

,read_ID,tax_ID_kraken,tax_ID_kaiju,measure
0,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547.0,NaN,NaN
1,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329.0,NaN,NaN
2,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218.0,NaN,NaN
3,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549.0,470934.0,NaN
4,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316.0,NaN,NaN
5,NB501110:123:H7C3WBGX7:1:11101:7661:1075,69218.0,NaN,NaN
6,NB501110:123:H7C3WBGX7:1:11101:3445:1076,1076549.0,NaN,NaN
7,NB501110:123:H7C3WBGX7:1:11101:9350:1077,487316.0,NaN,NaN
8,NB501110:123:H7C3WBGX7:1:11101:5326:1077,48736.0,NaN,NaN
9,NB501110:123:H7C3WBGX7:1:11101:21410:1079,1560356.0,NaN,NaN
10,NB501110:123:H7C3WBGX7:1:11101:12474:1085,NaN,69218.0,NaN
11,NB501110:123:H7C3WBGX7:1:11101:19868:1087,NaN,53335.0,NaN
12,NB501110:123:H7C3WBGX7:1:11101:10733:1094,NaN,69218.0,NaN
13,NB501110:123:H7C3WBGX7:1:11101:20523:1097,NaN,1224136.0,NaN
14,NB501110:123:H7C3WBGX7:1:11101:9448:1118,NaN,470934.0,NaN
15,NB501110:123:H7C3WBGX7:1:11101:21936:1120,NaN,428406.0,NaN
16,NB501110:123:H7C3WBGX7:1:11101:25518:1127,NaN,329.0,NaN
17,NB501110:123:H7C3WBGX7:1:11101:22286:1152,NaN,1312959.0,NaN
18,NB501110:123:H7C3WBGX7:1:11101:6718:1180,NaN,53335.0,NaN
19,NB501110:123:H7C3WBGX7:4:23612:19211:20386,1508507.0,NaN,NaN
20,NB501110:123:H7C3WBGX7:4:23612:13340:20390,500639.0,NaN,NaN
21,NB501110:123:H7C3WBGX7:4:23612:15529:20391,0.0,NaN,NaN
22,NB501110:123:H7C3WBGX7:4:23612:17695:20392,55209.0,NaN,NaN
23,NB501110:123:H7C3WBGX7:4:23612:10408:20392,69218.0,NaN,NaN
24,NB501110:123:H7C3WBGX7:4:23612:11635:20393,1378084.0,NaN,NaN
25,NB501110:123:H7C3WBGX7:4:23612:16321:20394,1378084.0,NaN,NaN
26,NB501110:123:H7C3WBGX7:4:23612:9943:20397,91347.0,NaN,NaN
27,NB501110:123:H7C3WBGX7:4:23612:10288:20398,1461261.0,NaN,NaN
28,NB501110:123:H7C3WBGX7:4:23612:9387:20400,1860097.0,NaN,NaN
29,NB501110:123:H7C3WBGX7:4:23612:6870:20251,NaN,53335.0,NaN
30,NB501110:123:H7C3WBGX7:4:23612:6261:20259,NaN,59814.0,NaN
31,NB501110:123:H7C3WBGX7:4:23612:20547:20279,NaN,91347.0,NaN
32,NB501110:123:H7C3WBGX7:4:23612:13993:20311,NaN,470934.0,NaN
33,NB501110:123:H7C3WBGX7:4:23612:6705:20317,NaN,547.0,NaN
34,NB501110:123:H7C3WBGX7:4:23612:20381:20331,NaN,329.0,NaN
35,NB501110:123:H7C3WBGX7:4:23612:20498:20337,NaN,547.0,NaN
36,NB501110:123:H7C3WBGX7:4:23612:10800:20351,NaN,329.0,NaN
37,NB501110:123:H7C3WBGX7:4:23612:24681:20365,NaN,1076550.0,NaN
38,NB501110:123:H7C3WBGX7:4:23612:20267:20379,NaN,53335.0,NaN